* {
  font-family: Helvetica;
  margin: 0px 0px 0px 0px;
}

.max-width {
  max-width: 100px;
  margin: 0px auto;
}

.header {
  position: absolute;
  float: top;
  top: 10%;
}

#logo-name a {
  text-decoration: none;
  color: black;
}

#logo-name a:hover {
  color: gray;
}

#logo-name {
  margin-left: 100px;
  font-size: 2em;
  right: 40px;
  position: relative;
  letter-spacing: 3px;
  text-decoration: none;
}

#navigation {
  max-width: 100%;
  display: inline-block;
  position: relative;
  top: 30px;
  left: 65px;
  float: top;
}

#navigation a {
  margin-left: 50px;
  padding: .2em;
  text-decoration: none;
  font-size: 15px;
  color: black;
  letter-spacing: 3px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

#navigation a:hover {
  border-bottom: 2px solid gray;
}

.main-display {
  background-image: url('../imgs/bannerpic.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  height: 30em;
  margin: 175px -8px 50px -8px;
}

/*.main-display {
  background-image: url("../imgs/bannerpic.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding: 30%;
}*/

}
#aboutme {
  margin-bottom: -5%;
}

#aboutme-title  {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 100px;
}

#aboutme-content  {
  padding-left: 10%;
  width: 40%;
  float: left;
}

#aboutme-photo-div  {
  padding-left: 60%;
  margin-top: -80px;

}

#aboutme-photo {
  border: 5px solid black;
  border-radius: 100%;
}

h2  {
  font-size: 2em;
}

.banner-1 {
  background-image: url('../imgs/banner-1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  height: 32em;
  margin: 175px -8px 50px -8px;
}

#blog-posts {
  margin-bottom: -5%;
}

#blog-title {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 50px;
}

#blog-list ul {
  list-style: none;
  text-align: left;
  width: 25%;
  padding-left: 40%;
  top: -10%;
}

#blog-list li a {
  padding:5px 0px;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

#blog-list li a:hover {
  border-bottom: 2px solid gray;
}

#blog-list li {
  margin-bottom: 30px;
}

.banner-2 {
  background-image: url('../imgs/banner-2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  height: 32em;
  margin: 175px -8px 50px -8px;
}

.projects-content {
  font-family: sans-serif;
  text-align: center;

}

.projects-title  {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 50px;
}

.banner-3 {
  background-image: url('../imgs/banner-3.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  height: 32em;
  margin: 175px -8px 50px -8px;
}

#resume-button  {
  text-transform: uppercase;
  text-decoration: none;
  font-family: helvetica;
  font-size: 2em;
  border: 1px solid gray;
  color: black;
  background-color: white;
  font-weight: bold;
  padding: 5px;
}

#resume-button:hover  {
  color: white;
  background-color: gray;
}

.button-center {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0px;
}

.banner-4 {
  background-image: url('../imgs/banner-4.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  height: 32em;
  margin: 175px -8px 50px -8px;
}

.contact-title  {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 50px;
}

.contact-content {
  padding: 30px 100px;
  font-family: sans-serif;
  text-align: center;
}

#contact-form  {
  width: 300px;
  margin: auto;
  border: 1px solid black;
  font-family: sans-serif;
  margin-bottom: 100px;
}

.social-media {
  float: right;
  color: black;
}

.social-media a {
  color: black;
  margin-left: 10px;
}

.social-media a:hover {
  color:#3498db;
  transition: color 0.2s;
}

.icon {
  font-size: 2em;
}

#body {
   margin:0;
   padding:0;
   height: 100%;
}

.container {
   min-height:100%;
   position: relative;
}

.header {
   padding: 5px;
}

#body {
   padding: 0px;
   padding-bottom: 100px;   /* Height of the footer */
}

.footbar  {
  background-color: black;
  color: white;
  padding-bottom: 15px;
  padding-top: 20px;
  text-align: center;
}

h4  {
  font-weight: normal;
  font-size: .75em;
}

.icon-style {
  width: 30px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 0px;
}

#footer {
   position:absolute;
   bottom:0;
   left: -30px;
   width: 100%;
   height: 60px;   /* Height of the footer */
}