@media screen and (min-width: 480px) {

/***********************
TWO COLUMN LAYOUT
**********************/

  /*#primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right;
  }*/


/***********************
PAGE: HOME
**********************/


/*
  #gallery li {
    width: 28.3333%;
  }

  #gallery li:nth-child(4n) {
    clear: left;
  }
*/


/***********************
PAGE: ABOUT
**********************/

  .profile-photo {
    float: left;
    margin: 0 5% 35% 0;
  }

}

@media screen and (min-width: 660px) {

/***********************
HEADER
**********************/

  nav {
    background: none;
    float: right;
    font-size: 1em;
    margin-right: 5%;
    text-align: right;
    width: 55%;
  }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 30%;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }

  header {
    border-bottom: 5px solid #204060;
    margin-bottom: 60px;
  }

/***********************
PAGE: BLOG
**********************/

  #blog {
    text-align: center;
  }

  #blog-list {
    /*margin: 0 0 0 35%;*/
    margin-left: 35%;
  }

/***********************
PAGE: PROJECTS
**********************/

  #projects {
    text-align: center;
  }

  #project-list {
    padding: 0 0 0 24%;
    margin: 0 auto;
  }



}